.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.square {
    height: 150px;
    width: 150px;
    margin: 20px;
    background-color: #564d4d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.square:hover {
    cursor: pointer;
    background-color: #db0000;
}

* {
    color: white;
}