<div class="center-align">
    <h2>All Songs</h2>
    <table>
        <tr *ngFor="let song of songs">
            <td>
                <h3>{{song.title}}</h3>
            </td>
            <td *ngIf="song.title == currentlyPlaying; else playSymbol">
                <button type="button" (click)="togglePlay(song.title)" class="play-button">
                    ⏸
                </button>
            </td>
            <ng-template #playSymbol>
                <td>
                    <button type="button" (click)="togglePlay(song.title)" class="play-button">
                        ▶
                    </button>
                </td>
            </ng-template>
            <td *ngIf="song.liked; else likeSymbol">
                <button type="button" (click)="toggleLike(song.title)" class="play-button">💗</button>
            </td>
            <ng-template #likeSymbol>
                <td>
                    <button type="button" (click)="toggleLike(song.title)" class="play-button">❤</button>
                </td>
            </ng-template>
            <td>
                <button (click)="togglePlaylist(song.title)">➕</button>
            </td>
        </tr>
    </table>
    <div class="playlists" *ngIf="!playlistHidden">
        <h3>Select a Playlist</h3>
        <select>
            <option  *ngFor="let playlist of playlists" (click)="addToPlaylist(playlist.playListName)">{{playlist.playListName}}</option>
        </select>
        <label for="newPlaylist">Add Playlist</label>
        <input type="text" #newPlaylist>
        <button type="button" (click)="addToPlaylist(newPlaylist.value)" class="play-button">Create And Add</button>
    </div>
</div>