.center-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

td {
    padding: 10px;
    text-align: left;
}

* {
    color: white;
}

.play-button {
    background-color: gray;
}